gsheets_secret: "data_folder/balmy-hologram-442500-f5-3b6d53d11be0.json"
gsheets_id: "1GA-ubuAaZKNqh4Jy4LbFWG6phJo2LwJtWbHUOKNfPoM"
gsheet_name: "hawk"

src_config:
    - "data_folder/config.yaml"
    - "data_folder/secrets.yaml"
    - "data_folder/gsheets.config"
    - "../lib_resume_builder_AIHawk/lib_resume_builder_AIHawk/lib_resume_builder.config"
    - "data_folder/linkedin.config"
    - "data_folder/openai.config"

sections:
    career_summary:
        llm: openai.gpt-4o
        prompt: career_summary.prompt
    career_highlights:
        llm: openai.gpt-4o
        prompt: career_highlights.prompt